<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kick-around.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kick-around.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Kick-Around</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Kick-Around</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KickAround" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kick-around.database.windows.net,1433;Initial Catalog=Kick-Around;User ID=vladopanov@kick-around.database.windows.net;Password=V213077p@" Name="Data Source=tcp:kick-around.database.windows.net,1433;Initial Catalog=Kick-Around;User Id=vladopanov@kick-around.database.windows.net;Password=V213077p@;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KickAround.Data.KickAroundContext, KickAround.Data" MigrationConfiguration="KickAround.Data.Migrations.Configuration, KickAround.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KickAround-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kick-around.database.windows.net,1433;Initial Catalog=Kick-Around;User Id=vladopanov@kick-around.database.windows.net;Password=V213077p@;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>